doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include style.css 
        title #{category[id].name}  
    
    nav
        span 
            a(href= "/") Home
        span
            a(href= `/${title}`) #{title}
    body 

    h1 #{category[id].name}
    img(src= category[id].image) 
    h3 Description
    p #{category[id].description}  
    h3 Price
    p $#{category[id].price}