doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        style(type = "text/css").
            li {
              list-style: none;
            }
    body 

    nav
        span 
            a(href= "/") Home

    h1 #{title}
    ul
      each item in  category 
        li  
          a(href= `${title}/${category.indexOf(item)}`) #{item.name}
